<app-admin></app-admin>
<div class="contenu">

  <table class="table">
    <thead>
      <tr class="table-primary">
        <th>Nom</th>
        <th>Prenom</th>
        <th>Date de naissance</th>
        <th>Poste</th>
        <th>Num de telephone</th>
        <th>Email</th>

      </tr>
    </thead>
    <tbody>


      <tr *ngFor="let item of article">

        <td>{{ item.nom }}</td>
        <td>{{ item.prenom }}</td>
        <td>{{ item.dateDeNaissance }}</td>
        <td>{{ item.poste }}</td>
        <td>{{ item.tel }}</td>
        <td>{{ item.email }}</td>




      </tr>
    </tbody>
  </table>
