


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">



 <input type="checkbox" id="check">
  <!--header area start-->
    <header>
 <label for="check">
       <i class="fas fa-bars" id="sidebar_btn"></i>
      </label>
      <div class="left_area">
        <h3>Coding <span>Seven</span></h3>
      </div>
      <div class="right_area">
        <a href="#" class="logout_btn">Logout</a>
      </div>
    </header>

    <!--header area end-->

    <!--sidebar start-->

    <div class="sidebar">

        <img src="assets/logo.png" class="profile_image" alt="">
        <h4>welcome</h4>


      <a href="/listjoueur"><i class="fas fa-cogs"></i><span>Liste des Joueurs</span></a>
      <a href="/joueurenDemande"><i class="fas fa-table"></i><span>Liste de joueur en demande</span></a>
      <a href="/joueurenTest"><i class="fas fa-th"></i><span>Liste des joueurs en test</span></a>


    </div>






